rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
		match /recipes/{recipe} {
			allow read: if true;
      allow create, update, delete: if request.auth != null && request.auth.uid == "9EzQajBCrpa44iJr0sX5UW8GlYX2";
    }
    match /backlog/{recipe} {
			allow read, update, delete: if request.auth != null && request.auth.uid == "9EzQajBCrpa44iJr0sX5UW8GlYX2";
      allow create: if true;
    }
  }
}